body {
  overflow: hidden;
}

.header {
  background-color: #fd841f;
  font-family: "Inter", sans-serif;
  min-height: 11vh;
}

.header-wrapper {
  padding: 3.5vh;
  padding-left: 5em;
  padding-right: 5em;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 10%;
}

.nav-header-list {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 80%;
  height: 40px;
}

.title-header {
  text-decoration: none;
  padding-bottom: 20px;
  padding-right: 20px;
  color: inherit;
  white-space: nowrap;
}

.container {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  position: relative;
}

@media (max-width: 1370px) {
  .header-wrapper {
    padding-left: 1em;
    padding-right: 8em;
  }
}
